@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText align-content-center">
            <h1 class="display-1  text-capitalize red-text"><b>SuperPizza</b></h1>
            <br />
            <h2 class="mainSubTitle">Welcome to Pizza, to SuperPizza!</h2>
    </div>
    <br />
    <a class="btn btn-danger btn-lg mt-1 " asp-area="" asp-page="/Pizza"><b>Buy SuperPizzas!</b></a>
    
</div>
